.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms; //khi hover cho nó mượt mà hơn

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}

.title {
    margin-left: 10px;
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}
.menu-item {
    position: relative;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sub-menu {
    // position: absolute;
    // top: 100%;
    // left: 0;
    // display: none;
    // opacity: 0;
    // transition: all 0.3s ease;
    position: absolute;
    top: 85%;
    width: 100%;
    height: auto;
    left: 0;
    z-index: 100;
    // background: linear-gradient(to right, #bde5e2, #ffeee8);
    background-color: #bde5e2;
    display: none;
    opacity: 0;
    transition: all 1.5s ease;

    color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @media (max-width: 768px) {
        display: none;
    }
}

.sub-menu-item {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    display: block;
    height: auto;
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s ease;
    @media (max-width: 768px) {
        display: none;
    }
}

.sub-menu-item:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
    transition: background-color 0.3s ease;
}

.menu-item:hover .sub-menu {
    display: block;
    opacity: 1;
    transform: translateY(10px);
    @media (max-width: 768px) {
        display: none;
    }
}
