.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container {
    width: 100%;
    //max-width: 100%; // dù chiều rộng như này thì chiều rộng cũng bằng chiều rộng trình duyệt
}
.loading {
    font-size: 40px;
}
