.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container {
    width: 100%;
    //max-width: 100%; // dù chiều rộng như này thì chiều rộng cũng bằng chiều rộng trình duyệt
}
// .loading {
//     font-size: 40px;
// }
.loading {
    font-size: 40px;
    // margin-left: 50%;
    margin-top: 5%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        // cách căn giữa
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

