.wrapper{
    height: auto;
    text-align: center;
}
.img-brand{
    width: 100%;
}
.intro{
    margin: 25px 60px;
    padding: 20px 50px;
    height: auto;
    text-align: center;
}
.text-intro{
    text-align: center;
    margin: 0px;
}