.custom-prev-arrow {
    background-color: transparent;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    height: 40px;
    margin-top: 5%;
    margin-right: 2px;
    font-size: x-large;
    width: 40px;
    color: #333;

    &:hover {
        color: #0056b3;
    }
}
.mt5 {
    margin-top: 12%;
}
.mt0 {
    margin-top: 0 !important;
    margin-right: 100px !important;
}
.mt7 {
    margin-top: 450%;
}
