.footer{
    margin-top: 20px;
    width: 100%;
    background-image: url(https://theme.hstatic.net/200000265619/1000946504/14/bg_fot.jpg?v=372);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 50px 20%;
}