// .loading {
//     font-size: 40px;
//     margin-left: 50%;
// }
.loading {
    font-size: 32px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        // cách căn giữa
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
