.wrapper {
    // width: 356px;
    // padding: 20px 0 26px 8px; //trên phải dưới trái
    // margin-left: -18px;
    width: 280px;
    height: fit-content;
    padding: 20px 20px 20px 20px;
    margin-left: 40px;
    margin-top: 10px;
    border: 1px solid #d7d6d6;
}
